@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<button onclick="window.location.href='@Url.Action("New", "Projects")'" class="btn custom-btn">Create new project</button>
<style>
    .custom-btn {
        display: flex;
        margin: auto;
        background: linear-gradient(135deg, rgb(2, 88, 214), #81C784);
        border: none;
        color: white;
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 20rem;
        align-items: center;
        justify-content: center;
    }

    .custom-btn:hover {
        background: linear-gradient(135deg, #rgb(2, 88, 214), #66BB6A);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

    .custom-btn:active {
        transform: translateY(0);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
</style>
